# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Flask stuff
instance/
.venv/
*.sqlite3

# Pytest
.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/
.idea/

# MacOS
.DS_Store

# Logs and databases
*.log
*.db

# Docker
*.pid

# Ignore Model Files
*.pt
*.pth
*.onnx
*.pb
*.plan
*.engine

static/
