psutil
GPUtil
apscheduler
flask_cors
pymongo
pytz
opencv-python
ultralytics
flask_socketio
marshmallow
onvif-zeep
python-jose
passlib
torch==2.5.1+cu124 --index-url https://download.pytorch.org/whl/cu124
torchvision==2.5.1+cu124 --index-url https://download.pytorch.org/whl/cu124
torchaudio==0.20.1+cu124 --index-url https://download.pytorch.org/whl/cu124
tensorrt


